* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pagewrap {
  height: 100vh;
  width: 100%;
  background-color: rgb(92, 20, 92);
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 100%;
  justify-content: center;
  align-content: center;
}
main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 2% 2%;
  background-color: rgb(115, 25, 115);
  grid-template-columns: repeat(5, 13%);
  grid-template-rows: repeat(4, 22.5%);
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
}
main > div {
  background-color: white;
}
main .first > div {
  border: 1px solid rgb(77, 1, 77);
}
main .second > div {
  border: 1px solid rgb(77, 1, 77);
}
main .third > div {
  border: 1px solid rgb(77, 1, 77);
}
main .fourth > div {
  border: 1px solid rgb(77, 1, 77);
}
main .fifth > div {
  border: 1px solid rgb(77, 1, 77);
}
main .six > div {
  border: 1px solid rgb(77, 1, 77);
}
main .seven > div {
  border: 1px solid rgb(77, 1, 77);
}
main .eight > div {
  border: 1px solid rgb(77, 1, 77);
}
main .nine > div {
  border: 1px solid rgb(77, 1, 77);
}
main .Ten > div {
  border: 1px solid rgb(77, 1, 77);
}
main .eleven > div {
  border: 1px solid rgb(77, 1, 77);
}
main .twelve > div {
  border: 1px solid rgb(77, 1, 77);
}
main .thirteen > div {
  border: 1px solid rgb(77, 1, 77);
}
main .fourteen > div {
  border: 1px solid rgb(77, 1, 77);
}
main .fifteen > div {
  border: 1px solid rgb(77, 1, 77);
}

main .first,
.second,
.third {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid rgb(77, 1, 77);
}
main .fourth {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid rgb(77, 1, 77);
}
main .fifth {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid rgb(77, 1, 77);
}
main .fifth,
.six,
.seven,
.eight,
.nine,
.Ten,
.eleven,
.twelve,
.thirteen,
.fourteen,
.fifteen {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid rgb(77, 1, 77);
}
main .six {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

main .seven {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
main .eight {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
main .nine {
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
main .eleven {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
main .twelve {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
main .thirteen {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
main .fourteen {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
main .fifteen {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
main .first .secondT,
.thirdT,
.sixthT {
  grid-column: span 2;
}
.second .secondTT,
.fourthTT,
.fifthTT {
  grid-row: span 2;
}
.third .firstTT {
  grid-row: span 2;
  grid-column: span 2;
}
.fourth .first4,
.third4,
.nineth4,
.eleven4 {
  grid-column: span 6;
}
.fourth .second4,
.ten4 {
  grid-column: span 3;
}
.fourth .fourth4,
.sixth4,
.seventh4,
.eight4 {
  grid-column: span 4;
}
.fourth .fifth4 {
  grid-column: span 7;
  grid-row: span 2;
}
.fifth .first5,
.third5,
.sixth5,
.ten5 {
  grid-column: span 2;
  grid-row: span 2;
}
.fifth .second5,
.nineth5 {
  grid-column: span 4;
  grid-row: span 2;
}
.six .first6 {
  grid-column: span 6;
  grid-row: span 2;
}
.six .fourth6,
.fifth6 {
  grid-column: span 2;
  grid-row: span 2;
}
.six .sixth6 {
  grid-column: span 2;
}
.seven .first7,
.fifth7 {
  grid-column: span 3;
  grid-row: span 2;
}
.eight .first8 {
  grid-column: span 3;
  grid-row: span 2;
}
.eight .third8 {
  grid-row: span 2;
}
.nine .first9 {
  grid-column: span 4;
  grid-row: span 3;
}
.nine .second9,
.third9,
.fourth9,
.ten9,
.eleven9 {
  grid-column: span 3;
}
.nine .fifth9 {
  grid-column: span 9;
  grid-row: span 3;
}
.nine .sixth9,
.seventh9 {
  grid-column: span 2;
}
.nine .eight9 {
  grid-column: span 4;
  grid-row: span 2;
}
.nine .nineth9 {
  grid-column: span 6;
  grid-row: span 2;
}

.Ten .first10,
.seventh10,
.nineth10 {
  grid-column: span 3;
  grid-row: span 2;
}
.Ten .third10,
.fifth10,
.eleven10 {
  grid-column: span 2;
  grid-row: span 2;
}
.eleven .first11 {
  grid-column: span 5;
  grid-row: span 4;
}
.fourteen .third14 {
  grid-row: span 3;
}
.fourteen .fifth14 {
  grid-row: span 2;
  grid-column: span 2;
}
.fourteen .eight14 {
  grid-row: span 3;
}
.fourteen .ten14 {
  grid-column: span 2;
  grid-row: span 3;
}
.fifteen .first15,
.second15,
.third15,
.eight15,
.nineth15,
.ten15 {
  grid-column: span 4;
}
.fifteen .fourth15,
.fifth15,
.sixth15,
.seventh15,
.eleven15,
.twelve15,
.thirteen15,
.fourteen15 {
  grid-column: span 3;
}
